.container {
    margin-top: 10%;
    width: 25%;
}

label {
    font-weight: bold;
}

h3 {
    text-align: center;
}

a {
    color: white;
    column-width: 90%;
    /* text-dec biasanya digunakan untuk menghilangkan garis bawah pada sebuah link */
    text-decoration: none;
    letter-spacing: 2px;
}

button {
    width: 100%;
}

p {
    color: skyblue;
}